*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

header{
    background-color: white;
    height: 80px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav-menu{
    margin-left: 50%;
}

.nav-menu li{
    display: inline;
    list-style-type: none;
    margin-right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.nav-menu li a{
    text-decoration: none;
    color: black ;
}

.nav-menu li:hover{
    background-color: whitesmoke;
}

.container{
    width: 90%;
    margin: 0 auto;
    background-color: whitesmoke;
}

.cont-image img{
    height: 550px;
    width: 100%;
}

.about-us{
    margin-top: 40px;
}

.about-us h2{
    text-align: center;
    font-size: 40px;
}

.about-content{
    margin: 15px;
    display: flex;
    justify-content: space-evenly;
}

.about-desc{
    line-height: 30px;
    width: 600px;
}

.services{
    margin-top: 40px;
}

.services h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.services-images{
    text-align: center;
    margin-top: 20px;
}

.services-img{
    height: 200px;
    margin: 10px 25px;
}

.services p{
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}

.products{
    margin-top: 50px;
}

.products h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

.products-images{
    text-align: center;
    margin-top: 20px;
}

.products-img{
    height: 200px;
    margin: 10px 25px;
}

.products p{
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}

.contact-us{
    background-color: white;
    padding-top: 50px;
}

.contact-us h2{
    text-align: center;
    font-size: 40px;
}

.contact-form{
    text-align: left;
    width: 500px;
    margin: 40px auto;
}
.contact-form label{
    display: block;
    margin: 15px;
    font-size: 25px;
    font-weight: bold;
}

.contact-form label input{
    padding: 5px 15px;
    margin-left: 40px;
    width: 250px;
}

#city{
    margin-left: 120px;
}

#address{
    margin-left: 70px;
    height: 100px;
}

#req{
    margin-left: 15px;
    height: 100px;
}

footer{
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 800;
}
